$b: '.site-header';

#{$b} {
  &__banner-container {
    padding-top: 60px;
    padding-bottom: 106px;
    background-image: url("../img/top-decor.webp"), url("../img/top-woman.png"), url("../img/top-bg.jpg");
    background-repeat: no-repeat;
    background-size: auto,auto,cover;
    background-position: 10px 337px, 673px 0,0 0;
    @include low-desktop {
      background-position: -15% calc(-172% + 0px),calc(40% + 298px) 0,0 0;
    }
    @include tablet {
      background-position: -15% calc(-172% + 0px),calc(40% + 220px) 0,0 0;
    }
    @include mobile {
      background-image: url("../img/top-decor.webp"), url("../img/top-woman.png"), url("../img/top-bg-mobile.jpg");
      padding-top: 23px;
      padding-bottom: 50px;
      background-position: 49% 326px,right 50% top 164px,0 0;
      background-size: 550px,306px,cover;
    }
  }

  &__logo-img {
    width: 100%;
    max-width: 186px;
  }

  &__banner-title {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 54px;
    line-height: 66px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 72px;
    max-width: 600px;
    @include tablet {
      font-size: 45px;
      line-height: 51px;
      max-width: 510px;
    }
    @include mobile {
      margin-top: 21px;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      max-width: 100%;
    }
    @include mobile-extra {
      font-size: 29px;
    }
  }

  &__banner-description {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 24px;
    line-height: 28px;
    margin-top: 14px;
    font-weight: 400;
    @include mobile {
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      margin-top: 13px;
    }
  }

  &__banner-button {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 20px;
    font-weight: 700;
    height: 90px;
    line-height: 24px;
    padding: 23px 67px;
    background-image:linear-gradient(to right, #12bc82 0%, #bfdf2c 41%, #bfdf2c  100%);
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    border-radius: 10px;
    margin-top: 43px;
    transition: 0.7s ease 0s;
    background-size: 200% auto;
    @include mobile {
      margin: 252px auto 0 auto;
      display: block;
      width: 330px;
      padding: 23px 40px;
    }
    @include mobile-extra {
      padding: 23px 30px;
      width: 290px;
    }
  }

  &__banner-button:hover {
    background-position: right center;
    text-decoration: none;
    background-image:linear-gradient(to right, #bfdf2c 0%, #bfdf2c 41%,  #12bc82 100%);
  }
}
.custom-logo{
  width: 100%;
  max-width: 186px;
  height: auto;
}
