$b: '.site-footer';

#{$b} {
  &__banner-container {
    padding-top: 145px;
    padding-bottom: 34px;
    background-image: url("../img/futer-decor1.webp"), url("../img/futer-decor2.webp"), url("../img/futer-bg.jpg");
    background-repeat: no-repeat;
    background-size: auto,auto,cover;
    background-position: -45px 327px, 873px -540px,0 0;
    @include low-desktop {
      background-position: 90% calc(-10% + 290px), calc(158% + 28px) -530px, 0 0;
    }
    @include tablet {
      padding-top: 100px;
      background-position: 29% calc(-10% + 290px), calc(158% + 28px) -530px, 0 0;
    }
    @include mobile {
      background-image: url("../img/futer-decor1-mobile.webp"), url("../img/futer-decor2-mobile.webp"), url("../img/futer-bg.jpg");
      padding-top: 23px;
      padding-bottom: 20px;
      background-position: 49% 350px,right 670% top -205px,0 0;
      background-size: 860px,406px,cover;
    }
  }

  &__banner {
    display: flex;
    @include mobile {
      flex-direction: column;
    }
  }

  &__banner-description {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    width: 100%;
    max-width: 440px;
    margin-left: 65px;
    @include tablet {
      margin-left: 20px;
    }
    @include mobile {
      font-size: 20px;
      line-height: 24px;
      text-align: left;
      margin-top: 13px;
      margin-left: 0;
      max-width: 100%;
    }
  }

  &__banner-button {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 20px;
    font-weight: 700;
    height: 80px;
    line-height: 24px;
    padding: 23px 67px;
    background-image:linear-gradient(to right, #12bc82 0%, #bfdf2c 41%, #bfdf2c  100%);
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    border-radius: 10px;
    margin-top: 28px;
    transition: 0.7s ease 0s;
    text-transform: uppercase;
    background-size: 200% auto;
    width: 100%;
    max-width: 370px;
    cursor: pointer;
    @include mobile {
      margin: 28px auto 0 auto;
      display: block;
      max-width: 100%;
      padding: 23px 40px;
    }
    @include mobile-extra {
      padding: 23px 30px;
    }
  }

  &__banner-button:hover {
    background-position: right center;
    text-decoration: none;
    background-image:linear-gradient(to right, #bfdf2c 0%, #bfdf2c 41%,  #12bc82 100%);
  }

  &__form-box {
    width: 100%;
    max-width: 370px;
    margin-left: 150px;
    @include tablet {
      margin-left: 50px;
    }
    @include mobile {
      margin-top: 20px;
      margin-left: 0;
      max-width: 100%;
    }
  }

  .sign-in__submit-group input[type=email] {
    font-family: $font-family-base;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #909090;
    width: 100%;
    padding: 16px 0 16px 26px;
    border-radius: 10px;
    max-width: 370px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      /* IE10+ specific styles go here */
      line-height: 15px;
      padding-top: 14px;
      padding-bottom: 14px;
    }
    @include mobile {
      max-width: 100%;
    }
  }

  &__sign-in-info {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 14px;
    line-height: 18px;
    margin-top: 18px;
    font-weight: 400;
  }

  &__sign-in-info-link {
    color: $white-true;
    transition: 0.7s ease 0s;
    text-decoration: underline;
  }

  &__sign-in-info-link:hover {
    color:#FFDD0C;
  }

  &__copyrigh {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 10px;
    line-height: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 200px;
    text-align: center;
    @include mobile {
      margin-top: 60px;
    }
  }

  #sign-in__email-error{
    margin-top: 15px !important;
  }
}
