$b: '.s-advantages';

#{$b} {
  padding-top: 60px;
  padding-bottom: 65px;
  @include mobile {
    padding-top: 30px;
    padding-bottom: 25px;
  }

  &__title {
    font-family: $font-family-base;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    color: $text-base;
    text-align: center;
    text-transform: uppercase;
    @include low-desktop {
      font-size: 35px;
      line-height: 39px;
    }
    @include mobile {
      font-size: 30px;
      line-height: 34px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__item-title {
    font-family: $font-family-base;
    font-size: 20px;
    font-weight: 400;
    line-height: 22px;
    color: $text-base;
    text-align: center;
    max-width: 300px;
    margin: 27px auto 0 auto;

    @include low-desktop-only {
      font-size: 20px;
      line-height: 22px;
    }
    @include low-desktop {
      font-size: 20px;
      line-height: 22px;
    }
    @include mobile {
      max-width: 260px;
      text-align: center;
    }
  }

  &__pagination {
    position: relative;
    text-align: center;
    padding-top: 20px;
    display: none;
    @include tablet {
      display: block;
      max-width: 100%;
    }
  }

  &__item-img {
    width: 100%;
    max-width: 403px;
    height: auto;
    @include low-desktop {
      max-width: 300px;
    }
    @include mobile {
      max-width: 280px;
    }
  }

  /*Swiper style*/
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

  .swiper-pagination-bullet-active {
    background: #FFDD0C;
    opacity: 1;
  }

  .swiper-container-advantages {
    width: 100%;
    height: 100%;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    @include mobile {
      margin-top: 20px;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      flex-direction: column;
    }
  }

  .swiper-wrapper {
    @include mobile{
      align-items: baseline;
    }
  }


}
