$b: '.s-features';

#{$b} {
  padding-top: 60px;

  &__item {
    display: flex;
  }

  &__item-title {
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: $text-base;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-top: 20px;
    max-width: 180px;

    @include low-desktop-only {
      font-size: 16px;
      line-height: 22px;
    }
    @include low-desktop {
      font-size: 16px;
      line-height: 22px;
    }
    @include mobile {
      max-width: 100%;
      text-align: center;
    }
  }

  &__item-pagination {
    position: relative;
    text-align: center;
    padding-top: 20px;
    display: none;
    @include tablet {
      display: block;
      max-width: 100%;
    }
  }

  /*Swiper style*/
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

  .swiper-pagination-bullet-active {
    background: #FFDD0C;
    opacity: 1;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      flex-direction: column;
    }
  }

}
