$b: '.s-invitation';

#{$b} {
  &__container {
    padding-top: 56px;
    padding-bottom: 50px;
    background-image: url("../img/invitation-bg.jpg");
    background-size: cover;
  }

  &__title {
    font-family: $font-family-base;
    font-size: 26px;
    line-height: 32px;
    font-weight: 400;
    color: $white-true;
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
    @include low-desktop {
      font-size: 26px;
      line-height: 32px;
    }
    @include mobile {
      font-size: 18px;
      line-height: 22px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  &__button {
    font-family: $font-family-base;
    color: $white-true;
    font-size: 20px;
    font-weight: 400;
    height: 90px;
    line-height: 24px;
    padding: 23px 10px;
    background-image:linear-gradient(to right, #12bc82 0%, #bfdf2c 41%, #bfdf2c  100%);
    box-shadow: 5px 5px 10px rgba(0,0,0,.5);
    border-radius: 10px;
    transition: 0.7s ease 0s;
    background-size: 200% auto;
    text-transform: none;
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 40px auto 0 auto;
    @include mobile {
      display: block;
      max-width: 330px;
      padding: 23px 5px;
    }
    @include mobile-extra {
      font-size: 18px;
    }
  }

  &__button:hover {
    background-position: right center;
    text-decoration: none;
    background-image:linear-gradient(to right, #bfdf2c 0%, #bfdf2c 41%,  #12bc82 100%);
  }

  &_button-style {
    text-transform: uppercase;
    font-weight: 700;
  }

}
