$b: '.s-reviews';

#{$b} {
  padding-top: 55px;
  padding-bottom: 55px;
  @include mobile {
    padding-top: 45px;
    padding-bottom: 25px;
  }

  &__title {
    font-family: $font-family-base;
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    color: $text-base;
    text-align: center;
    text-transform: uppercase;
    @include low-desktop {
      font-size: 35px;
      line-height: 39px;
    }
    @include mobile {
      font-size: 30px;
      line-height: 34px;
    }
  }

  &__item-wrap {
    display: flex;
    flex-direction: column;
  }

  &__item-description {
    font-family: $font-family-base;
    font-size: 14px;
    line-height: 18px;
    font-weight: 300;
    color: $text-base;
  }

  &__item-cloud-box {
    width: 100%;
    max-width: 320px;
    border: 1px solid #DCDCDC;
    border-radius: 15px;
    padding: 20px 19px;
    text-align: left;
    position: relative;
  }

  &__item-people-box {
    display: flex;
    margin-top: 40px;
  }

  &__item-img {
    width: 81px;
    height: 81px;
    border-radius: 50%;
  }

  &__item-info-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 35px 0 0 24px;
  }

  &__item-name {
    font-family: $font-family-base;
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: $text-base;
    text-transform: uppercase;
  }

  &__item-age {
    font-family: $font-family-base;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
    color: #909090;
  }

  &__item-cloud-box span:nth-child(1) {
    z-index: 2;
    position: absolute;
    bottom: -20px;
    left: 41px;
    width: 0;
    height: 0;
    border-right: 21px solid transparent;
    border-top: 21px solid #fff;
  }

  &__item-cloud-box span:nth-child(2) {
    position: absolute;
    z-index: 1;
    bottom: -22px;
    left: 40px;
    width: 0;
    height: 0;
    border-right: 21px solid transparent;
    border-top: 21px solid #dcdcdc;
  }

  &__item-cloud-box span:nth-child(3) {
    position: absolute;
    z-index: 1;
    bottom: -35px;
    left: 38px;
    width: 0;
    height: 0;

  }

  &__pagination {
    position: relative;
    text-align: center;
    padding-top: 20px;
    display: none;
    @include tablet {
      display: block;
      max-width: 100%;
    }
  }

  /*Swiper style*/
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

  .swiper-pagination-bullet-active {
    background: #FFDD0C;
    opacity: 1;
  }

  .swiper-container-reviews {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    @include mobile {
      margin-top: 26px;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mobile {
      flex-direction: column;
    }
  }

  .swiper-wrapper {
    align-items: flex-end;
    @include mobile{
      align-items: baseline;
    }
  }

}
