<section id="s-advantages" class="s-advantages">
    <div class="s-advantages__container l-outer-width l-inner-padding">
        <h2 class="s-advantages__title">Почему круто быть&nbsp;с&nbsp;нами:</h2>
        <!-- Slider main container -->
        <div class="swiper-container-advantages">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="s-advantages__item swiper-slide">
                    <img class="s-advantages__item-img" src="img/advantages-1.png">
                    <h4 class="s-advantages__item-title">Получать лучшие рецепты по&nbsp;разным категориям</h4>
                </div>
                <div class="s-advantages__item swiper-slide">
                    <img class="s-advantages__item-img" src="img/advantages-2.png">
                    <h4 class="s-advantages__item-title">Готовить без лишних усилий и&nbsp;делать из каждого дня не&nbsp;рутинный</h4>
                </div>
                <div class="s-advantages__item swiper-slide">
                    <img class="s-advantages__item-img" src="img/advantages-3.png">
                    <h4 class="s-advantages__item-title">Довольные<br>члены семьи</h4>
                </div>
            </div>
            <div class="s-advantages__pagination swiper-pagination "></div>
        </div>
    </div>
</section>
