<section id="s-features" class="s-features">
    <div class="s-features__container l-outer-width l-inner-padding">
        <!-- Slider main container -->
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="s-features__item swiper-slide">
                    <div class="s-features__item-content">
                        <img class="s-features__item-img" src="img/features-01.png">
                        <h4 class="s-features__item-title">Простые домашние<br>рецепты</h4>
                    </div>
                </div>
                <div class="s-features__item swiper-slide">
                    <div class="s-features__item-content">
                        <img class="s-features__item-img" src="img/features-02.png">
                        <h4 class="s-features__item-title">Статьи о готовке</h4>
                    </div>
                </div>
                <div class="s-features__item swiper-slide">
                    <div class="s-features__item-content">
                        <img class="s-features__item-img" src="img/features-03.png">
                        <h4 class="s-features__item-title">Бесплатная книга рецептов всем подписчикам</h4>
                    </div>
                </div>
                <div class="s-features__item swiper-slide">
                    <div class="s-features__item-content">
                        <img class="s-features__item-img" src="img/features-04.png">
                        <h4 class="s-features__item-title">Собирайте рецепты<br>в recipe box</h4>
                    </div>
                </div>
                <div class="s-features__item swiper-slide">
                    <div class="s-features__item-content">
                        <img class="s-features__item-img" src="img/features-05.png">
                        <h4 class="s-features__item-title">Печать рецептов</h4>
                    </div>
                </div>
            </div>
            <div class="s-features__item-pagination swiper-pagination "></div>
        </div>
    </div>
</section>
