<section id="s-invitation" class="s-invitation">
    <div class="s-invitation__container l-outer-width l-inner-padding">
        <h3 class="s-invitation__title">Удобно получать на&nbsp;емейл уникальные проверенные рецепты, которые&nbsp;дружная команда Tastycookery попробовала сама и&nbsp;рекомендует</h3>
        <span data-target="#site-footer" class="s-invitation__button button js-scroll-to">Стать членом семьи Tastycookery<br><span class="s-invitation_button-style">бесплатно</span></span>
    </div>
</section>
