<section id="s-reviews" class="s-reviews">
    <div class="s-reviews__container l-outer-width l-inner-padding">
        <h2 class="s-reviews__title">Отзывы довольных пользователей</h2>
        <!-- Slider main container -->
        <div class="swiper-container-reviews">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="s-reviews__item swiper-slide">
                    <div class="s-reviews__item-wrap">
                        <div class="s-reviews__item-cloud-box">
                            <span></span><span></span><span></span>
                            <p class="s-reviews__item-description">После того, как стал участником проекта Tastycookery получает много простых рецептов, о&nbsp;которых раньше не&nbsp;задумывался, стал готовить некоторые, семья рада, стали больше разговаривать во&nbsp;время ужина и&nbsp;хвалить кулинарные таланты Человека1.</p>
                        </div>
                        <div class="s-reviews__item-people-box">
                            <img class="s-reviews__item-img" src="img/people-1.jpg">
                            <div class="s-reviews__item-info-box">
                                <h5 class="s-reviews__item-name">Дейнерис</h5>
                                <p class="s-reviews__item-age">56 лет</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="s-reviews__item swiper-slide">
                    <div class="s-reviews__item-wrap">
                        <div class="s-reviews__item-cloud-box">
                            <span></span><span></span><span></span>
                            <p class="s-reviews__item-description">Рад, что благодаря простым рецептам может наслаждаться изысканными блюдами, тратя на&nbsp;приготовление 20&nbsp;мин в&nbsp;день</p>
                        </div>
                        <div class="s-reviews__item-people-box">
                            <img class="s-reviews__item-img" src="img/people-2.jpg">
                            <div class="s-reviews__item-info-box">
                                <h5 class="s-reviews__item-name">Тайвин</h5>
                                <p class="s-reviews__item-age">43 года</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="s-reviews__item swiper-slide">
                    <div class="s-reviews__item-wrap">
                        <div class="s-reviews__item-cloud-box">
                            <span></span><span></span><span></span>
                            <p class="s-reviews__item-description">Довольна, что благодаря рецептам с&nbsp;TC может на&nbsp;работу брать полезные обеды, что полностью отказалась от&nbsp;офисной неполезной еды и&nbsp;за&nbsp;2&nbsp;месяца похудела на&nbsp;3&nbsp;кг. И&nbsp;очень рекомендует всем использовать рецепты с&nbsp;сайта</p>
                        </div>
                        <div class="s-reviews__item-people-box">
                            <img class="s-reviews__item-img" src="img/people-3.jpg">
                            <div class="s-reviews__item-info-box">
                                <h5 class="s-reviews__item-name">Серсея</h5>
                                <p class="s-reviews__item-age">56 лет</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="s-reviews__pagination swiper-pagination "></div>
        </div>




    </div>
</section>
