<footer class="site-footer" id="site-footer">
    <div class="site-footer__banner-container l-outer-width l-inner-padding">
        <div class="site-footer__banner">
            <p class="site-footer__banner-description">Sign up to receive daily manually selected recipes, delicious weekly articles, 3-piece&nbsp;sets of slow cooker, vegetarian, and&nbsp;lunch&nbsp;ideas, plus Quick&Easy recipes and&nbsp;Nutrition Value flashcards via email.</p>

            <div class="site-footer__form-box">
                <form class="sign-in__form" id="sign-in__form" method="get" action="">
                    <div class="sign-in__submit-group">
                        <input type="email" name="email" required placeholder="Enter your email" value="" id="sign-in__email">
                        <input type="submit" value="sign up" class="submit site-footer__banner-button" id="sign-in__submit" name="sign-in__submit">
                    </div>
                </form>
                <p class="site-footer__sign-in-info">By signing up I agree to the terms of the <a class="site-footer__sign-in-info-link" href="#">Privacy Policy</a></p>
            </div>

        </div>
        <p class="site-footer__copyrigh">&copy;&nbsp;2014&ndash;2018 TastyCookery.com</p>
    </div>
</footer>
