<header class="site-header">
    <div class="site-header__banner-container l-outer-width l-inner-padding">
        <div class="site-header__banner">
            <a href="#" class="site-header__logo-link"><img class="site-header__logo-img" src="img/logo.png"></a>
            <h1 class="site-header__banner-title">домашние<br>Простые рецепты</h1>
            <p class="site-header__banner-description">Собирайте рецепты в recipe box</p>
            <span data-target="#site-footer" class="site-header__banner-button button js-scroll-to">Присоединиться<br>к сообществу</span>
        </div>
    </div>
</header>
