@mixin wide-desktop-min {
  @media screen and (min-width: #{$wide-desktop-width}) {
    @content;
  }
}

@mixin desktop-min {
  @media screen and (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin low-desktop {
  @media screen and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin low-desktop-only {
  @media screen and (min-width: #{$low-desktop-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin low-desktop-min {
  @media screen and (min-width: #{$low-desktop-width}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: #{$low-desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-only {
  @media screen and (min-width: #{$tablet-width}) and (max-width: #{$low-desktop-width - 1px}) {
    @content;
  }
}

@mixin tablet-min {
  @media screen and (min-width: #{$tablet-width}) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: #{$tablet-width - 1}) {
    @content;
  }
}

@mixin mobile-extra {
  @media screen and (max-width: #{$tablet-width - 408}) {
    @content;
  }
}
